.container {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  gap: 2rem;
}

.top {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top p {
  font-size: 2rem;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btnRightArrow {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnRightArrow:hover {
  cursor: pointer;
}

.rightArrow {
  width: 60%;
  height: 60%;
}
.index {
  background-color: white;
}
