.question-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid white;
  margin: 18px 5px 18px 5px;
  padding: 5px 10px 5px 50px;
  background-color: rgb(17, 17, 17);
  color: white;
  max-width: 700px;
  position: relative;
}

.question-block h1 {
  font-size: 20px;
}

.open h1 {
  font-size: 25px;
  margin-top: 10px;
  grid-column: 2 / span 12;
  grid-row: 1/1;
}
.open .btnRightArrow {
  grid-column: 15/15;
  grid-row: 1/1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.open .arrow {
  margin-right: 10px;
  margin-top: 15px;
}

.open p {
  grid-row: 4 / span 11;
  grid-column: 2 / span 12;
}

.open {
  max-width: 700px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  border: 2px solid white;
  background-color: rgb(17, 17, 17);
  color: white;
  position: absolute;
  top: 215px;
  left: 5px;
  z-index: 200;
  animation-name: open;
  animation-duration: 0.2s;
}

@keyframes open {
  0% {
    width: 700px;
    height: 100px;
  }

  100% {
    width: 700px;
    height: 400px;
  }
}
